
.parent{
display: flex;
/* width: 1440px; */
  height: 170px;
  background-color:rgb(50,51,52);
  align-items: center;

}
.main{
  display: flex;
  
 justify-content: space-between;
 width: 1200px;
 margin: auto;
 padding-bottom: 10px;
}
.inputbar input{
  background: none;
  border: 1px solid red;
  height: 14px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 4px;
}
.topbtn button{
  background-color: rgb(255,67,67);
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
 margin-right: 12px;
 margin-top: 80px;
 margin-bottom: 10px;
 border: none;

}
.parentcard{
height: calc(100vh - 170px);
  background-image: url(../public/image/bg.png);
  background-size: cover;
 

}
.container{
  display: flex;
  width: 340px;
  height:fit-content;
 background-image: url("https://img.freepik.com/free-photo/halloween-party_23-2148603731.jpg?size=626&ext=jpg");
 padding: 10px;
 border-radius: 20px;
 margin: 8px;
}
.SingelCard{
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button{
  width: fit-content;
  background-color: red;
}